.cate {
  display: inline-block;
  margin-bottom: 0;
  padding: 3px;
}
.option > button {
  border-radius: 10px;
}

body {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  min-height: 100vh;
}
